{
  "presets": ["es2015", "stage-0"],

  "plugins": [
  ],

  "env": {
    "development": {
      "plugins": [
        "typecheck",
        "transform-runtime",
        "syntax-flow",
        "transform-decorators-legacy",
        "transform-regenerator"
      ]
    }
  }
}